
.col {
    flex: 1 0 30%;
    margin: 0.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    /* Prevent overflow */
}

.col:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
    max-height: 150px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.card-body:hover {
    max-height: 300px;
}

.custom-title {
    color: #db9334;
    font-weight: bold;
    background-color: #fcfdfd;
    padding: 15px 20px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: color 0.3s, transform 0.3s;
}

.custom-title:hover {
    color: #f9a825;
    transform: scale(1.05);
}

/* Global overflow handling */
body {
    overflow-x: hidden;
    /* Prevent horizontal scrollbar */
}

.row,
.col {
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's total width and height */
}
h5{
    color: white;
}
h1,
h2 {
    color:#583e82;

    

}

.team-container {
    padding-top: 50px;
    display: flex;
    /* Enable Flexbox */
    justify-content: center;
    /* Center content horizontally */
    flex-wrap: wrap;
    /* Allow items to wrap onto multiple lines if necessary */
}

.team-member {
    background-color: #a54040;
    /* Background color for team members */
    color: white;
    /* Text color */
    padding: 20px;
    /* Padding inside team member boxes */
    margin: 15px;
    /* Margin between team member boxes */
    border-radius: 8px;
    /* Rounded corners for team member boxes */
    text-align: center;
    /* Center text in team member boxes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Shadow effect for boxes */
    flex: 1 1 200px;
    /* Flexible sizing with a minimum width */
}

.team-member img {
    border-radius: 50%;
    /* Circular images for team members */
    width: 100px;
    /* Fixed width for images */
    height: 100px;
    /* Fixed height for images */
}

.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

/* button click effect*/
.Btn:active {
    transform: translate(2px, 2px);
}