@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #f1f1ed;
}

.first {
    text-align: center;
    font-size: 50px;
    color: rgb(43, 31, 31);
    background-color: #ffffff;
    padding: 10px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.section-head {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 10px;
}

.section-subhead {
    font-size: 14px;
    color: #7e7e7e;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 2px solid #767676;
    border-radius: 5px;
    background-color: #f3f2cf;
}

.form-textarea {
    height: 125px;
    resize: none;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: white;
    background-color: #b0ab4d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #a09e4a;
}

@media (max-width: 768px) {
    .section-head {
        font-size: 45px;
        text-align: center;
    }

    .section-subhead {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-input, .form-textarea {
        font-size: 14px;
    }

    .submit-btn {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .section-head {
        font-size: 40px;
    }

    .form-input, .form-textarea {
        padding: 12px;
    }

    .submit-btn {
        padding: 12px;
    }
}
